.pageBlocked {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3); /* Полупрозрачный фон для блокировки страницы */
    z-index: 999; /* Блокировка всего содержимого страницы */
    pointer-events: all;
  }